# Caddy & Server Runtime Environment
../Caddyfile
../caddy.exe
../ronlog/

# Environment Files & Secrets
.env
.env.*
*.env
*.pem
*.key
*.crt

# Logs
*.log
logs/
*.log.*

# OS & Editor Temporary Files
.DS_Store
Thumbs.db
desktop.ini
*.tmp
*.temp
*.swp
*.bak
.idea/
.vscode/

# Node & Package Managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
